*, *::before, *::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

body {
	margin: 0;

	font-family: 'Roboto', 'Arial', 'Helvetica', 'Arial Narrow', sans-serif;
}

.body-slider-color-1 {
	background-color: #849d8f;
}

.body-slider-color-2 {
	background-color: #8996a6;
}

.body-slider-color-3 {
	background-color: #9d8b84;
}

.inner-page {
	color: #ffffff;

	background-color: #849d8f;
}

.w-container {
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 27px;
	padding-left: 27px;
}

.visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	-webkit-clip-path: inset(100%);

					clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.btn {
	display: inline-block;
	vertical-align: middle;
	padding: 23px 15px;

	font-weight: 700;
	color: #ffffff;
	text-decoration: none;
	text-align: center;

	background-color: #e95139;
	background-image: linear-gradient(to top, #e74a35, #f26843);
	border: none;
	border-radius: 50px;
	box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);

	cursor: pointer;
}

.btn:hover {
	background-color: #eb725f;
	background-image: linear-gradient(to top, #ec6f5e, #f58669);
	box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 1);
}

.btn:active {
	background-color: #e95139;
	background-image: linear-gradient(to bottom, #e74a35, #f26843);
	box-shadow: inset 0px 2px 2px 0px rgba(172, 16, 0, 1);
}

.main-header {
	position: relative;

	display: flex;
	align-items: center;
	padding-top: 9px;
}

.header-logo {
	margin-right: 24px;
}

.main-navigation {
	display: flex;
	flex-grow: 1;
}

.site-navigation {
	display: flex;
	margin: 0;
	margin-right: auto;
	padding: 0;

	font-weight: 700;
	font-size: 16px;
	line-height: 18px;

	list-style: none;
}

.site-navigation-item:not(:last-child) {
	margin-right: 27px;
}

.site-navigation-item>a {
	color: #ffffff;
	text-decoration-color: rgba(255, 255, 255, 0.2);
}

.site-navigation-2nd-nesting {
	display: none;
	margin: 0;
	padding: 0;

	font-weight: 400;
	font-size: 14px;
	line-height: 16px;

	list-style: none;
}

.site-navigation-2nd-nesting a {
	color: #323232;
	text-decoration: none;
}

.search-form {
	margin: 0;
	margin-right: 10px;
	padding: 0;
}

.search-form-label {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 32px;
	height: 32px;

	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 100%;

	cursor: pointer;
}

.search-form-label:hover {
	background-color: #ffffff;
}

.search-form-label:hover path {
	fill: #000000;
}

.main-search {
	display: none;
}

.main-search,
.login-form input,
.add-links-list {
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
}

.user-navigation {
	display: flex;
	margin: 0;
	padding: 0;

	font-weight: 500;
	font-size: 14px;
	line-height: 16px;

	list-style: none;
}

.user-navigation-item:not(:last-child) {
	margin-right: 10px;
}

.user-navigation a {
	display: flex;
	align-items: center;
	min-height: 32px;
	padding: 5px 16px;

	color: #ffffff;
	text-decoration: none;

	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 50px;
}

.login-svg {
	margin-right: 8px;
}

.user-navigation-item:last-child a {
	padding-left: 45px;
}

.add-links-list {
	margin: 0;
	padding: 0;

	list-style: none;
}

.add-links-list a {
	color: #323232;
	text-decoration: underline;
}

.telephone-time-header {
	position: absolute;
	display: none;
	font-weight: 700;
	color: #ffffff;
}

.telephone-time-header p {
	margin: 0;
	padding: 0;
}

.time-header {
	font-size: 14px;
	line-height: 16px;
}

.telephone-header {
	font-size: 22px;
	line-height: 24px;
}

.breadcrumb-list {
	margin: 0;
	padding: 0;

	font-size: 14px;
	line-height: 16px;

	list-style: none;
}

.breadcrumb-list a {
	color: #ffffff;
	text-decoration-color: rgba(255, 255, 255, 0.2);
}

.page-heading {
	margin: 0;
	padding: 0;

	font-size: 35px;
	line-height: 41px;
}

.promo-slider-wrapper h3 {
	margin: 0;
	padding: 0;

	font-size: 60px;
	line-height: 60px;
	color: #ffffff;
}

.filters-form fieldset {
	border: none;
}

.filter-group legend {
	display: block;
	margin: 0;
	padding: 0;

	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
}

.filter-group ul {
	margin: 0;
	padding: 0;

	font-weight: 500;
	font-size: 16px;
	line-height: 18px;

	list-style: none;
}

.send-btn {
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
}

.free-toppings {
	color: #ffffff;
}

.topping-raps {
	background-color: #a81343;
	background-image: url('../img/bg-raps.jpg');
	background-repeat: no-repeat;
}

.topping-chok {
	background-color: #522c16;
	background-image: url('../img/bg-chok.jpg');
	background-repeat: no-repeat;
}

.free-toppings h2 {
	margin: 0;
	padding: 0;

	font-size: 35px;
	line-height: 41px;
}

.free-toppings p {
	margin: 0;
	padding: 0;

	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
}

.goods-list {
	margin: 0;
	padding: 0;

	list-style: none;
}

.goods-list-item h3 {
	margin: 0;
	padding: 0;

	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
	color: #ffffff;
	text-decoration: underline;
	text-decoration-color: rgba(255, 255, 255, 0.2);
}

.price {
	font-weight: 700;
	font-size: 45px;
	line-height: 45px;
	color: #ffffff;
}

.features {
	color: #323232;

	background-color: #f2e7d1;
	background-image: url('../img/bg-waffel.jpg');
}

.features>p {
	margin: 0;
	padding: 0;

	font-weight: 500;
	font-size: 24px;
	line-height: 30px;
}

.features-list {
	margin: 0;
	padding: 0;

	list-style: none;
}

.features-list p {
	margin: 0;
	padding: 0;

	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
}

.blog-article {
	color: #323232;

	background-color: #ffffff;
	background-image: url('../img/bg-article-raps.jpg');
}

.blog-article-heading {
	margin: 0;
	padding: 0;

	font-size: 24px;
	line-height: 30px;
}

.blog-article-heading a {
	color: #323232;
	text-decoration: none;
}

.blog-article p,
.mailing p {
	margin: 0;
	padding: 0;

	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
}

.mailing {
	background-color: #f8f7f4;
}

.mailing p {
	font-weight: 400;
	color: #5a5a5a;
}

.mailing-form input {
	font-size: 16px;
	line-height: 24px;
}

.shop-address {
	color: #323232;
}

.shop-address p {
	margin: 0;
	padding: 0;

	font-size: 14px;
	line-height: 20px;
}

p.telephone-map {
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
}

.shop-address address {
	font-weight: 700;
	font-style: normal;
	font-size: 18px;
	line-height: 24px;
	
}

.pagination-list {
	margin: 0;
	padding: 0;

	font-weight: 500;
	font-size: 16px;
	line-height: 18px;

	list-style: none;
}

.pagination-list a {
	color: #ffffff;
	text-decoration: none;
}

.social-list {
	margin: 0;
	padding: 0;

	list-style: none;
}

.social-list-item a {
	display: block;
	width: 32px;
	height: 32px;

	background-repeat: no-repeat;
	border: 3px solid rgba(255, 255, 255, 0.5);
	border-radius: 50%;
	opacity: 0.8;
}

.social-tw a {
	background-image: url('../img/icon-social-tw.svg');
}

.social-in a {
	background-image: url('../img/icon-social-in.svg');
}

.social-fb a {
	background-image: url('../img/icon-social-fb.svg');
}

.social-vk a {
	background-image: url('../img/icon-social-vk.svg');
}

.tech-info-list {
	margin: 0;
	padding: 0;

	font-size: 13px;
	line-height: 18px;

	list-style: none;
}

.tech-info-list-item:first-child {
	font-weight: 700;
}

.tech-info-list a {
	color: #ffffff;
	text-decoration: none;

	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.sponsor {
	font-size: 12px;
	line-height: 18px;
	color: #ffffff;
}

.sponsor p {
	margin: 0;
	padding: 0;
}

.sponsor a {
	color: #ffffff;
	text-decoration-color: rgba(255, 255, 255, 0.2);
}

.popup-login {
	display: none;
}

.popup-write-us {
	background-color: #f8f7f4;
}

.popup-write-us p {
	margin: 0;
	padding: 0;

	font-weight: 500;
	font-size: 24px;
	line-height: 28px;
	color: #323232;
}

.write-us-form input,
.write-us-form textarea {
	font-size: 16px;
	line-height: 24px;
}

/* Для теста без интернета
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto/RobotoRegular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto/RobotoMedium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto/RobotoBold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
} */