*, *::before, *::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

body {
	margin: 0;

	font-family: 'Roboto', 'Arial', 'Helvetica', 'Arial Narrow', sans-serif;
}

.body-slider-color-1 {
	background-color: #849d8f;
}

.body-slider-color-2 {
	background-color: #8996a6;
}

.body-slider-color-3 {
	background-color: #9d8b84;
}

.inner-page {
	color: #ffffff;

	background-color: #849d8f;
}

.w-container {
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 27px;
	padding-left: 27px;
}

.visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	-webkit-clip-path: inset(100%);

					clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.btn {
	display: inline-block;
	vertical-align: middle;
	padding: 15px 23px;

	font-weight: 700;
	color: #ffffff;
	text-decoration: none;
	text-align: center;

	background-color: #e95139;
	background-image: linear-gradient(to top, #e74a35, #f26843);
	border: none;
	border-radius: 50px;
	box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);

	cursor: pointer;
}

.btn:hover {
	background-color: #eb725f;
	background-image: linear-gradient(to top, #ec6f5e, #f58669);
	box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 1);
}

.btn:active {
	background-color: #e95139;
	background-image: linear-gradient(to bottom, #e74a35, #f26843);
	box-shadow: inset 0px 2px 2px 0px rgba(172, 16, 0, 1);
}

.main-header {
	position: relative;

	display: flex;
	align-items: center;
	padding-top: 9px;
}

.header-logo {
	margin-right: 24px;
}

.main-navigation {
	display: flex;
	flex-grow: 1;
}

.site-navigation {
	display: flex;
	align-items: center;
	margin: 0;
	margin-right: auto;
	padding: 0;

	font-weight: 700;
	font-size: 16px;
	line-height: 18px;

	list-style: none;
}

.site-navigation-item {
	position: relative;

	display: flex;
	padding-bottom: 3px;
}

.site-navigation-item:not(:last-child) {
	margin-right: 27px;
}

.site-navigation-item>a {
	padding: 5px 14px;

	color: #ffffff;
	text-decoration-color: rgba(255, 255, 255, 0.2);
}

.site-navigation-item>a:hover {
	color: #323232;

	background-color: #f8f7f4;
	border-radius: 50px;
}

.site-navigation-item>a:active {
	color: #323232;

	background-color: #ededed;
	box-shadow: inset 0 2px 1px 0 #696969;
}

a.current-in-site-navigation,
a.current-in-site-navigation:hover,
a.current-in-site-navigation:active {
	color: #ffffff;
	text-decoration: none;

	background-color: #d07058;
	border-radius: 50px;

	box-shadow: none;
}

.site-navigation-2nd-nesting {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 20;

	display: none;
	min-width: 145px;
	margin: 0;
	padding: 5px 0;

	font-weight: 400;
	font-size: 14px;
	line-height: 16px;

	background-color: #f8f7f4;
	border-radius: 5px;
	box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);

	list-style: none;
}

.site-navigation-item:hover ul {
	display: block;
}

.site-navigation-2nd-nesting a {
	display: block;
	padding: 7px 21px;

	color: #323232;
	text-decoration: none;
}

.site-navigation-2nd-nesting a:hover {
	background-color: #fbded7;
}

.site-navigation-2nd-nesting a:active {
	background-color: #f6b5a5;
}

a.current-in-catalog,
a.current-in-catalog:hover,
a.current-in-catalog:active {
	color: #ffffff;

	background-color: #d07058;

	cursor: default;
}

.site-navigation-2nd-nesting-item:first-child a {
	position: relative;

	padding: 12px 21px;
	margin-bottom: 2px;

	font-weight: 700;
}

.site-navigation-2nd-nesting-item:first-child a::after {
	content: '';

	position: absolute;
	bottom: -2px;
	left: 6px;

	width: calc(100% - 12px);
	height: 2px;

	background-color: rgba(53, 53, 53, 0.2);
}

.search-form {
	position: relative;

	margin: 0;
	margin-right: 10px;
	padding: 0;
}

.search-form-label {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 32px;
	height: 32px;

	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 100%;

	cursor: pointer;
}

.search-form-label:hover {
	background-color: #f8f7f4;
}

.search-form-label:hover path {
	fill: #323232;
}

.main-search,
.login-form input {
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
}

.user-navigation {
	display: flex;
	margin: 0;
	padding: 0;

	font-weight: 500;
	font-size: 14px;
	line-height: 16px;

	list-style: none;
}

.user-navigation-item {
	position: relative;

	padding-bottom: 3px;
}

.user-navigation-item:not(:last-child) {
	margin-right: 10px;
}

.user-navigation a {
	display: flex;
	align-items: center;
	min-height: 32px;
	padding: 5px 16px;

	color: #ffffff;
	text-decoration: none;

	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 50px;
}

.login-svg {
	margin-right: 8px;
}

.user-navigation a:hover {
	color: #323232;

	background-color: #f8f7f4;
}

.login-link:hover .login-svg-fill {
	fill: #323232;
}

.user-navigation-item:last-child a {
	padding-left: 45px;

	background-repeat: no-repeat;
	background-position: 16px 6px;
}

.cart-empty a {
	background-image: url('../img/icon-cart.svg');

	cursor: default;
	pointer-events: none;
}

.cart-not-empty a {
	color: #323232;
	background-color: #f8f7f4;
	background-image: url('../img/icon-cart-not-empty.svg');
}

.add-links-list {
	position: absolute;
	bottom: 30px;
	right: 25px;

	margin: 0;
	padding: 0;

	list-style: none;
}

.add-links-list-item {
	margin-bottom: -10px;
}

.add-links-list a {
	margin: 0;
	padding: 0;

	font-weight: 400;
	font-size: 13px;
	color: #323232;
	text-decoration: underline;
}

.add-links-list a:hover,
.add-links-list a:active {
	color: #e84d37;
	text-decoration-color: rgba(236, 89, 60, 0.3);
}

.telephone-time-header {
	position: absolute;
	top: 100%;
	right: 0;

	font-weight: 700;
	color: #ffffff;
	text-align: right;
}

.telephone-time-header p {
	margin: 0;
	padding: 0;
}

.time-header {
	font-size: 14px;
	line-height: 16px;
}

.telephone-header {
	font-size: 22px;
	line-height: 24px;
}

.breadcrumb-list {
	display: flex;
	margin: 0;
	margin-top: 25px;
	margin-bottom: 5px;
	padding: 0;

	font-size: 14px;
	line-height: 16px;

	list-style: none;
}

.breadcrumb-list-item {
	position: relative;
}

.breadcrumb-list-item:not(:last-child) {
	margin-right: 23px;
}

.breadcrumb-list-item:not(:first-child)::before {
	content: '»';

	position: absolute;
	top: -1px;
	left: -14px;
}

.breadcrumb-list a {
	color: #ffffff;
	text-decoration-color: rgba(255, 255, 255, 0.2);
}

.breadcrumb-list a:hover,
.breadcrumb-list a:active {
	color: #ffbc9e;
	border-bottom-color: rgba(259, 172, 159, 0.3);
}

a.current-in-breadcrumb {
	cursor: default;
	pointer-events: none;
}

.page-heading {
	margin: 0;
	margin-bottom: 35px;
	padding: 0;

	font-size: 35px;
	line-height: 41px;
}

.promo-slider-wrapper {
	position: relative;
	z-index: 2;
	margin-top: -78px;
	margin-bottom: -210px;
}

.promo-slides {
	position: relative;

	display: none;
	flex-direction: column;
	align-items: center;
}

.promo-slides h3 {
	position: absolute;

	margin: 0;
	margin-top: 395px;
	padding: 0;
	max-width: 670px;

	font-size: 60px;
	line-height: 60px;
	color: #ffffff;
	text-align: center;
}

.promo-slides .btn {
	position: absolute;

	margin-top: 545px;

	font-size: 32px;
	line-height: 44px;
	text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
}

.show-promo-slide {
	display: flex;
}

.filters-form {
	display: flex;
	flex-wrap: wrap;
	width: 862px;
	margin-left: -16px;
	margin-bottom: 24px;
}

.filters-form fieldset {
	margin: 0;
	margin-bottom: 16px;
	margin-left: 16px;
	padding: 0;

	border: none;
}

.filter-group legend {
	display: block;
	margin: 0;
	margin-bottom: 8px;
	padding: 0;
	padding-left: 16px;

	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
}

.filter-sorting select {
	padding: 8px 19px;

	font-weight: 500;
	font-size: 16px;
	line-height: 18px;

	background-color: rgba(248, 247, 244, 0.2);
	border: none;
	border-radius: 50px;
}

.range-field {
	position: relative;

	width: 218px;
	height: 36px;

	background-color: rgba(248, 247, 244, 0.2);
	border-radius: 50px;
}

.filter-range-line {
	position: absolute;
	top: 16px;
	right: 21px;
	left: 21px;
	z-index: 1;

	height: 4px;

	background-color: rgba(248, 247, 244, 0.5);
}

.filter-range-line::before {
	content: '';

	position: absolute;
	top: 0;
	left: 16px;

	width: 107px;
	height: 100%;

	background-color: #ffffff;
}

.filter-button {
	position: absolute;
	top: 8px;
	z-index: 2;

	padding: 0;
	margin: 0;
	width: 20px;
	height: 20px;

	background-color: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;

	cursor: pointer;
}

.filter-button:hover {
	transform: scale(1.1);
}

.filter-button:first-of-type {
	left: 34px;
}

.filter-button:last-of-type {
	left: 132px;
}

.filter-group ul {
	display: flex;
	margin: 0;
	padding: 9px 12px;

	font-weight: 500;
	font-size: 16px;
	line-height: 18px;

	background-color: rgba(248, 247, 244, 0.2);
	border-radius: 50px;
	list-style: none;
}

.filter-group li:not(:last-child) {
	margin-right: 14px;
}

.filter-group label {
	position: relative;

	padding-left: 30px;

	cursor: pointer;
}

.filter-group label::before {
	content: '';

	position: absolute;
	left: 0;
}

.filter-group input[type="radio"]+label::before {
	top: 1px;

	width: 16px;
	height: 16px;

	border-radius: 50%;
	box-shadow: 0 0 0 3px #ffffff;
	opacity: 0.8;
}

.filter-group input[type="radio"]:checked+label::before {
	background-color: #ffffff;
	background-clip: content-box;
	border: 4px solid transparent;
}

.filter-group input[type="checkbox"]+label::before {
	top: -1px;

	width: 23px;
	height: 23px;

	border: 2px solid #ffffff;
	border-radius: 2px;
	opacity: 0.8;
}

.filter-group input[type="checkbox"]:checked+label::before {
	content: url('../img/icon-checkbox-on.svg');

	width: 23px;
	border: none;
}

.filter-group input[type="radio"]+label:hover::before,
.filter-group input[type="checkbox"]+label:hover::before {
	opacity: 1;
}

.filter-group input[type="radio"]:focus+label::before {
	box-shadow: 
		0 0 0 3px #ffffff,
		0 0 5px 6px #1b4a2f;
}

.filter-group input[type="checkbox"]:focus+label::before {
	box-shadow: 0 0 5px 6px #1b4a2f;
}

.send-btn {
	flex-grow: 1;
	align-self: flex-end;
	padding: 8px 20px;
	margin-bottom: 16px;
	margin-left: 16px;

	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
	text-align: center;

	background-color: rgba(255, 255, 255, 0.19);
	border: 2px solid #ffffff;
	border-radius: 50px;

	cursor: pointer;
}

.send-btn:hover {
	padding: 10px 22px;

	color: #323232;

	background-color: #fbfcfb;
	border: none;
}

.send-btn:active {
	padding: 10px 22px;

	color: #323232;

	background-color: #eaeaea;
	border: none;
	box-shadow: inset 0 2px 1px 0 #696969;
}


.toppings-wrapper {
	position: relative;
	z-index: 3;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 35px;
}

.free-toppings {
	display: flex;
	flex-direction: column;
	width: 560px;
	padding: 21px 20px 23px 20px;

	color: #ffffff;

	border-radius: 12px;
}

.topping-raps {
	background-color: #a81343;
	background-image: url('../img/bg-raps.jpg');
	background-repeat: no-repeat;
}

.topping-chok {
	background-color: #522c16;
	background-image: url('../img/bg-chok.jpg');
	background-repeat: no-repeat;
}

.free-toppings h2 {
	margin: 0;
	margin-bottom: 23px;
	padding: 0;

	font-size: 35px;
	line-height: 41px;
}

.free-toppings p {
	margin: 0;
	margin-bottom: 45px;
	padding: 0;

	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
}

.free-toppings .btn {
	align-self: flex-end;
}

.goods-index {
	margin-bottom: 30px;
}

.goods-catalog {
	margin-bottom: 72px;
}

.goods-list {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	margin-bottom: -30px;
	margin-left: -26px;
	padding: 0;

	list-style: none;
}

.goods-list-item {
	position: relative;

	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
	margin-bottom: 30px;
	margin-left: 26px;
	padding: 0;
	width: 267px;
}


.goods-list-item > * {
	position: relative;

	z-index: 6;
}

.goods-list-heading {
	margin: 0;
	margin-bottom: 10px;
	padding: 0;

	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
	text-align: center;
}

.goods-list-heading a {
	color: #ffffff;
	text-decoration-color: rgba(255, 255, 255, 0.3);
}

.goods-list-heading a:hover,
.goods-list-heading a:active {
	color: #ffbc9e;
	text-decoration-color: rgba(259, 172, 159, 0.3);
}

.goods-list-item img {
	order: -1;
	z-index: 4;

	width: 267px;
	height: 267px;
	margin-bottom: 15px;

	border-radius: 50%;
}

.price {
	position: absolute;
	top: 205px;
	left: 0;

	font-weight: 700;
	font-size: 45px;
	line-height: 45px;
	color: #ffffff;
}

.price::before {
	content: '/кг';

	position: absolute;
	bottom: 0;
	left: 100%;

	min-width: 62px;
	font-size: 30px;
}

.goods-list-item .btn {
	position: absolute;
	top: 100%;

	display: none;
}

.goods-list-item:hover .btn,
.goods-list-item:focus .btn {
	display: inline-block;
}

.goods-list-item:hover::before,
.goods-list-item:focus::before {
	content: '';

	position: absolute;
	top: -6px;
	z-index: 5;

	box-sizing: content-box;
	padding: 6px 13px 78px 13px;
	width: 100%;
	height: 100%;

	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 5px;
}

.hit-flag::after {
	content: url('../img/icon-hit-flag.svg');

	position: absolute;

	top: 0;
	left: 0;
	z-index: 4;
}

.features {
	margin-bottom: 40px;
	padding: 30px 21px;

	color: #323232;

	background-color: #f2e7d1;
	background-image: url('../img/bg-waffel.jpg');
	border-radius: 12px;
}

.features>p {
	margin: 0;
	margin-bottom: 10px;
	padding: 0;

	font-weight: 500;
	font-size: 24px;
	line-height: 30px;
}

.features-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0;
	padding: 0;

	list-style: none;
}

.features-list-item {
	position: relative;

	margin-bottom: 10px;
	padding-top: 16px;
	padding-left: 57px;
	width: 540px;
}

.features-list-item::before {
	position: absolute;
	top: 0;
	left: 0;
}

.features-list-item:nth-child(1)::before {
	content: url('../img/icon-feature-ice-cream.svg');
}

.features-list-item:nth-child(2)::before {
	content: url('../img/icon-feature-cow.svg');
}

.features-list-item:nth-child(3)::before {
	content: url('../img/icon-feature-leaf.svg');
}

.features-list-item:nth-child(4)::before {
	content: url('../img/icon-feature-therm.svg');
}

.features-list p {
	margin: 0;
	padding: 0;

	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
}

.blog-article-and-mailing-wrapper {
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}

.blog-article-and-mailing-wrapper>* {
	padding: 21px 20px;
	width: 560px;

	border-radius: 12px;
}

.blog-article {
	display: flex;
	flex-direction: column;

	color: #323232;

	background-color: #ffffff;
	background-image: url('../img/bg-article-raps.jpg');
}

.blog-article-heading {
	order: 2;
	max-width: 285px;
	margin: 0;
	padding: 0;

	font-size: 24px;
	line-height: 30px;
}

.blog-article-heading a {
	color: #323232;
}

.blog-article-heading a:hover,
.blog-article-heading a:active {
	color: #e84d37;
	text-decoration-color: rgba(236, 89, 60, 0.3);
}

.blog-article p,
.mailing p {
	margin: 0;
	padding: 0;

	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
}

.blog-article p {
	margin-bottom: 10px;
}

.mailing {
	background-color: #f8f7f4;
}

.mailing p {
	margin-bottom: 38px;

	font-weight: 400;
	color: #5a5a5a;
}

.mailing-form {
	display: flex;
}

.mailing-form input {
	flex-grow: 1;
	margin-right: 10px;
	padding: 0 14px;

	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	color: #323232;

	border: 1px solid #d3d3d2;
	border-radius: 4px;
}

.shop-address {
	color: #323232;
}

.pagination-list {
	display: flex;
	justify-content: flex-end;
	margin: 0;
	margin-bottom: 30px;
	padding: 0;

	font-weight: 500;
	font-size: 16px;
	line-height: 18px;

	list-style: none;
}

.pagination-list a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 27px;
	height: 27px;

	color: #ffffff;
	text-decoration: none;

	border-radius: 50%;
}

.pagination-list-item:not(:last-child) a {
	margin-right: 2px;
}

.pagination-list-item:first-child a,
.pagination-list-item:last-child a{
	background-image: url('../img/icon-arrow.svg');
	background-repeat: no-repeat;
	background-position: center;
}

.pagination-list-item:first-child a{
	transform: rotate(180deg);
}

.current-in-pagination-arrow {
	opacity: 0.2;

	cursor: default;
	pointer-events: none;
}

a.current-in-pagination {
	color: #323232;

	background-color: #ffffff;

	cursor: default;
	pointer-events: none;
}

.pagination-list-item:not(:first-child):not(:last-child) a:hover{
	background-color: rgba(255, 255, 255, 0.2);
}

.pagination-list-item:not(:first-child):not(:last-child) a:active {
	color: #323232;

	background-color: #ffffff;
}

.map-and-address {
	position: relative;

	width: 100%;
}

.static-map-wrapper {
	width: 1200px;
	margin: 0 auto;
}

.map-and-address .w-container {
	position: absolute;
	top: 63px;
	left: 0;
	right: 0;

	display: flex;
	justify-content: flex-end;
}

.shop-address {
	display: flex;
	flex-direction: column;
	padding: 30px 25px;
	width: 302px;

	background-color: #ffffff;
	border-radius: 12px;
}

.shop-address p {
	margin: 0;
	margin-bottom: 10px;
	padding: 0;

	font-size: 14px;
	line-height: 20px;
}

p.telephone-map {
	margin-bottom: 5px;

	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
}

.shop-address address {
	margin: 0;
	margin-bottom: 25px;
	padding: 0;
	font-weight: 700;
	font-style: normal;
	font-size: 18px;
	line-height: 24px;	
}

.main-footer {
	padding-top: 18px;
	padding-bottom: 25px;
}

.main-footer .w-container,
.catalog-footer {
	display: flex;
	align-items: flex-end;
}

.catalog-footer {
	border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.social-list {
	display: flex;
	margin: 0;
	padding: 0;

	list-style: none;
}

.social-list-item:not(:last-child) {
	margin-right: 11px;
}

.social-list-item a {
	display: block;
	width: 32px;
	height: 32px;

	background-repeat: no-repeat;
	background-position: center;
	box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5);
	/* border: 3px solid rgba(255, 255, 255, 0.5); */
	border-radius: 50%;
	opacity: 0.8;
}

.social-list-item a:hover {
	opacity: 1;
}

.social-list-item a:active {
	opacity: 0.4;
}

.social-tw a {
	background-image: url('../img/icon-social-tw.svg');
}

.social-in a {
	background-image: url('../img/icon-social-in.svg');
}

.social-fb a {
	background-image: url('../img/icon-social-fb.svg');
}

.social-vk a {
	background-image: url('../img/icon-social-vk.svg');
}

.tech-info-list {
	display: flex;
	flex-wrap: wrap;
	width: 340px;
	margin: 0 auto;
	padding: 0;

	font-size: 13px;
	line-height: 18px;

	list-style: none;
}

.tech-info-list-item {
	position: relative;

	padding-left: 23px;
	min-width: 140px;
}

.tech-info-list-item:first-child {
	font-weight: 700;
}

.tech-info-list-item:first-child::before {
	content: url('../img/icon-heart.svg');

	position: absolute;
	top: 0;
	left: 0;
}

.tech-info-list a {
	color: #ffffff;
	text-decoration: none;

	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.tech-info-list a:hover,
.tech-info-list a:active {
	color: #ffbc9e;

	border-bottom-color: rgba(259, 172, 159, 0.3);
}

.sponsor {
	font-size: 12px;
	line-height: 18px;
	color: #ffffff;
}

.sponsor p {
	margin: 0;
	padding: 0;
}

.sponsor a {
	color: #ffffff;
	text-decoration-color: rgba(255, 255, 255, 0.2);
}

.sponsor a:hover,
.sponsor a:active {
	color: #ffbc9e;
	text-decoration-color: rgba(259, 172, 159, 0.3);
}

.popup-login {
	position: absolute;
	top: 100%;
	right: 0;
	z-index: 20;

	display: none;
	width: 278px;
	padding: 20px 25px;

	background-color: #f8f7f4;
	border-radius: 12px;
	box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.popup-login input {
	width: 100%;
}

.popup-login .btn {
	min-width: 100px;

	font-size: 18px;
	line-height: 24px;
}

.show-popup-login {
	display: block;
}

.popup-search {
	position: absolute;
	top: 100%;
	right: 0;
	z-index: 21;

	display: none;
	width: 341px;
	padding: 20px 16px;

	background-color: #f8f7f4;
	border-radius: 12px;
	box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.show-popup-search {
	display: block;
}

.popup-write-us {
	position: fixed;
	top: 235px;
	left: 50%;
	z-index: 200;

	display: none;
	width: 478px;
	margin-left: -239px;
	padding: 20px 25px;

	background-color: #f8f7f4;
	border-radius: 12px;
}

.show-popup-write-us {
	display: block;
}

.popup-write-us p {
	margin: 0;
	margin-bottom: 23px;
	padding: 0;

	font-weight: 500;
	font-size: 24px;
	line-height: 28px;
	color: #323232;
}

.write-us-form {
	display: flex;
	flex-direction: column;
}

.write-us-form input,
.write-us-form textarea,
.popup-login input,
.popup-search input {
	margin-bottom: 20px;
	padding: 12px 14px;

	font-weight: 700;
	font-size: 16px;
	line-height: 24px;

	border: 1px solid #d3d3d2;
	border-radius: 4px;
}

.write-us-form input {
	max-width: 267px;
}

.popup-search input {
	width: 100%;
	margin-bottom: 0;
}

.write-us-form textarea {
	min-width: 100%;
	max-width: 100%;
	min-height: 155px;
}

.write-us-form .btn {
	align-self: flex-end;
}

.close-btn {
	position: absolute;
	top: 10px;
	right: 10px;

	display: block;
	padding: 0;
	margin: 0;
	width: 22px;
	height: 22px;

	border: none;
	background-color: transparent;

	cursor: pointer;
}

.close-btn::before,
.close-btn::after {
	content: '';

	position: absolute;
	top: 10px;
	left: 0;

	width: 22px;
	height: 2px;

	background-color: #231f20;
}

.close-btn::before {
	transform: rotate(45deg);
}

.close-btn::after {
	transform: rotate(-45deg);
}

.popup-cart {
	position: absolute;
	top: 100%;
	right: 0;
	z-index: 19;

	display: none;
	flex-direction: column;
	width: 541px;
	padding: 20px 16px;

	background-color: #f8f7f4;
	border-radius: 12px;
	box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.order-table {
	margin-bottom: 16px;

	font-size: 13px;
	line-height: 16px;
	color: #323232;

	border-bottom: 1px solid #cacac7;
}

.order-table-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

.order-table-row td{
	margin: 0;
	padding: 0;
}

.order-table-heading {
	width: 220px;
}

td.order-table-price {
	margin-right: 19px;
}

.order-table .close-btn {
	position: relative;
	top: 0;
	right: 0;

	transform: scale(0.8);
}

.total-price {
	align-self: flex-end;
	margin-bottom: 16px;

	font-weight: 700;
	font-size: 15px;
	line-height: 18px;
	color: #323232;
}

.popup-cart .btn {
	align-self: flex-end;

	font-size: 18px;
	line-height: 24px;
}

.show-popup-cart {
	display: flex;
}

.z-index-header {
	position: relative;
	z-index: 20;
}

.z-index-main {
	position: relative;
	z-index: 10;
}

.mailing-form input::placeholder,
.write-us-form input::placeholder,
.write-us-form textarea::placeholder,
.popup-login input::placeholder,
.popup-search input::placeholder {
	font-weight: 400;
}

.mailing-form input:hover,
.write-us-form input:hover,
.write-us-form textarea:hover,
.popup-login input:hover,
.popup-search input:hover {
	border-color: #c7c6c5;
	box-shadow: inset 0 0 0 1px #c7c6c5;
}

.mailing-form input:focus,
.write-us-form input:focus,
.write-us-form textarea:focus,
.popup-login input:focus,
.popup-search input:focus {
	border-color: #8fbdec;
	box-shadow: inset 0 0 0 1px #8fbdec;
	outline: none;
}

/* Для теста без интернета
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto/RobotoRegular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto/RobotoMedium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto/RobotoBold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
} */